.meizhi-list-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-top: 1px solid #e3e3e3;
}

.meizhi-list-item__image {
  width: 60px;
  height: 60px;
  margin: 0px 20px 0px 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;

  &:hover {
    cursor: pointer;
  }
}